body {
    margin: 0;
}

.header {
    width: 80%;
    margin: auto;
}

h3 {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
}

div.skill-form {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "a b";
}

input.skill-input {
    grid-area: a;
}

button.skill-button {
    grid-area: b;
}

div.skill-list {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(auto-fit,  minmax(100px, 1fr));
    margin-top: 5%;
}

p.skill-item {
    text-align: center;
    margin: 5px;
    background-color: lightgray;
}